body{
    background-image: url('asess/image/img1.gif');
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    background-color: #7bcada;
    border-radius: 25px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.648),0 10px 10px rgba(0, 0, 0, 0.348);
    position: relative;
    overflow: hidden;
    
    margin-top: 100px;
    min-width: 480px;
    max-width: 100%;
    min-height: 260px;
}
h1{
    padding-top: 30px;
    font-weight: 700px;
    margin: 0;
    margin-bottom: 15px;
}
button{
    position: relative;
    border-radius: 20px;
    border: 1px solid #51b8b9;
    background-color: #51b8b9;
    color: #fff;
    font-size: 15px;
    font-weight: 700px;
    margin: 10px;
    padding: 12px 80px;
    letter-spacing: 1px;
}
form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
    width: auto;
    text-align: center;
}
input{
    background-color: #eee;
    border: none;
    border-radius: 10px;
    padding: 12px 15px;
    margin: 10px 0px;
    width: 100%;
}